<app-page-breadcrumb pageTitle="Images" />
<div class="p-4 sm:p-6 lg:p-8 space-y-4 sm:space-y-5 overflow-x-hidden">
  <div>
    <app-component-card title="Responsive image">
      <app-responsive-image />
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Image in 2 Grid">
      <app-two-column-image-grid />
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Image in 3 Grid">
      <app-three-column-image-grid />
    </app-component-card>
  </div>
</div>
