<div class="grid grid-cols-1 gap-4 md:gap-6 xl:grid-cols-12 p-4 sm:p-6 lg:p-8 overflow-x-hidden">
  <div class="col-span-12 xl:col-span-8 space-y-6">
    <!-- <div><app-ecommerce-metrics /></div> -->

    <div><app-monthly-sales-chart /></div>
  </div>

  <div class="col-span-12 xl:col-span-4">
    <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03] p-4 sm:p-6 lg:p-8">
      <app-monthly-target />
    </div>
  </div>

  <div class="col-span-12">
    <!-- <app-statics-chart /> -->
  </div>

  <div class="col-span-12 xl:col-span-5">
    <!-- <app-demographic-card /> -->
  </div>

  <div class="col-span-12 xl:col-span-7">
    <!-- <app-recent-orders/> -->
  </div>
</div>
