<div class="min-h-screen lg:flex overflow-x-hidden">
  <div>
    <app-sidebar></app-sidebar>
    <app-backdrop></app-backdrop>
  </div>
  <div [class]="containerClasses$ | async" class="flex flex-col h-screen overflow-hidden">
    <div class="flex-1 overflow-y-auto bg-white p-6 max-w-full dark:bg-gray-950">
      <router-outlet></router-outlet>
    </div>
    <app-toast></app-toast>
  </div>
  <button (click)="toggleSidebar()" class="lg:hidden fixed bottom-4 right-4 z-50 flex items-center justify-center bg-blue-600 text-white rounded-full shadow-xl w-10 h-10 cursor-pointer hover:bg-blue-700 transition"
    [class.hidden]="isMobileOpen$ | async">
    <span class="relative w-5 h-5">
      <svg class="absolute inset-0 w-5 h-5 transition-all duration-300 ease-in-out"
           [class.opacity-100]="!(isMobileOpen$ | async)"
           [class.opacity-0]="isMobileOpen$ | async"
           [class.rotate-0]="!(isMobileOpen$ | async)"
           [class.-rotate-90]="isMobileOpen$ | async"
           viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M4 6H20M4 12H20M4 18H20"/>
      </svg>
      <svg class="absolute inset-0 w-5 h-5 transition-all duration-300 ease-in-out"
           [class.opacity-0]="!(isMobileOpen$ | async)"
           [class.opacity-100]="isMobileOpen$ | async"
           [class.rotate-90]="!(isMobileOpen$ | async)"
           [class.rotate-0]="isMobileOpen$ | async"
           viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M18 6L6 18M6 6l12 12"/>
      </svg>
    </span>
  </button>
</div>
